.videoCard{
    margin-bottom: 40px;
    width: 270px;
}
.videoCard_thumbnail{
    height: 140px;
    width: 250 px;
   
}
.videoCard_info{
    display: flex;
    margin-top: 10px;
    padding: right 30px;
}

.videoCard_text{
    margin-left: 15px;
}
.videoCard_text > h4{
    font-size: 14px;
    margin-top: 3px;
    margin-bottom: 5px;
    
    margin-left: -5px;
}

.videoCard_text > p{
    font-size: 14px;
    color: gray;
    margin-bottom: 5px;
    margin-top: -2px;
    margin-left: -5px;
}

.videoCard_avatar{
    height: 30px !important;
    width: 30px !important;
}